.pagecrm_page {
  min-width: 320px;
  font-family: var(--main-font, sans-serif);
  color: var(--accent-color, #fff);
  background: url(../images/background-image-mobile.webp) no-repeat;
  background-size: cover;
}

.pagecrm_scroll-lock {
  overflow: hidden;
}

.pagecrm_main {
  position: relative;
  padding: 0 10px;
}

.pagecrm_breadcrumbs {
  margin-bottom: 34px;
}

.pagecrm_breadcrumbs__list {
  display: flex;
  gap: 10px;
  padding: 12px 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: var(--accent-text-color, #e9deff);
}

.pagecrm_breadcrumbs__link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pagecrm_breadcrumbs__link:hover {
  text-shadow: 0 0 4px var(--shadow-color, #d795ff);
}

.pagecrm_breadcrumbs__link:not(:last-child)::after {
  content: '';
  display: block;
  width: 5px;
  height: 8.73px;
  background: url(../svg/arrow-icon.svg) no-repeat center / cover;
}

.pagecrm_content {
  display: flex;
  flex-direction: column;
  gap: 75px;
  margin-bottom: 75px;
}

.pagecrm_sticky-block {
  position: fixed;
  z-index: 2;
  top: 220px;
  right: 0;
}

.pagecrm_sticky-block__list {
  width: 48px;
  min-height: 94px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 0 15px;
  background-color: #1d01414d;
}

.pagecrm_sticky-block__item {
  min-width: 38px;
  display: flex;
  justify-content: center;
}

.pagecrm_sticky-block__icon {
  filter: drop-shadow(0 0 10.62px #00ffe1) drop-shadow(0 0 3.03px #00ffe1)
    drop-shadow(0 0 1.52px #00ffe1);
}

.pagecrm_sticky-block__item:first-child {
  padding-bottom: 11px;
  border-bottom: 1px solid #ececec;
}

.pagecrm_sticky-block__item:last-child {
  padding-top: 11px;
}

.pagecrm_banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagecrm_banner__title {
  font-size: clamp(2.5rem, 2.0645rem + 1.9355vw, 4rem);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.39;
  letter-spacing: -0.02em;
  text-shadow: 0 0 10px #d795ffb3;
}

.pagecrm_banner__image {
  width: clamp(19.52875rem, 11.8617rem + 34.0758vw, 45.9375rem);
  margin-bottom: 20px;
}

.pagecrm_banner__button {
  padding: 10px 40px;
  background:
    linear-gradient(#b095ff, #b095ff) padding-box,
    linear-gradient(
        30deg,
        rgb(202 142 255 / 1) 0%,
        rgb(161 180 239 / 0.54) 33%,
        rgb(116 223 221 / 0.43) 69%,
        rgb(89 248 210 / 1) 91%
      )
      border-box;
  border-radius: 20px;
  border: 3px solid transparent;
  box-shadow: 0 0 10px var(--shadow-color, #d795ff);
  backdrop-filter: blur(100px);
  font-weight: 700;
  font-size: clamp(0.875rem, 0.6935rem + 0.8065vw, 1.5rem);
  line-height: 1.14;
  text-transform: uppercase;
}

.pagecrm_services {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.pagecrm_title {
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
}

.pagecrm_title_without-caps {
  font-size: clamp(1.5rem, 1.694vw + 1.119rem, 2.813rem);
}

.pagecrm_title_caps {
  font-size: clamp(1.25rem, 2.016vw + 0.796rem, 2.813rem);
  text-transform: uppercase;
}

.pagecrm_titles-wrapper {
  margin-bottom: var(--section-title-offset, 45px);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pagecrm_services__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  row-gap: 15px;
}

.pagecrm_services__service-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.pagecrm_service-card__image {
  width: clamp(6.25rem, 4.4355rem + 8.0645vw, 12.5rem);
}

.pagecrm_service-card__text {
  max-width: 335px;
  font-weight: 700;
  font-size: clamp(0.875rem, 1.452vw + 0.548rem, 2rem);
  line-height: 1.43;
  text-align: center;
}

.pagecrm_programs__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 690px));
  justify-content: center;
  gap: 20px 10px;
}

.pagecrm_programs__item {
  display: flex;
}

.pagecrm_programs__program-card {
  min-height: 190px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  box-shadow:
    0 0 20px var(--shadow-color, #d795ff),
    0 0 4px var(--shadow-color, #d795ff);
}

.pagecrm_program-card__image-wrapper {
  width: 50%;
  padding: 29px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(229.02deg, #fff -46.09%, #0e9ddd 88.2%);
}

.pagecrm_program-card__image {
  width: 100%;
}

.pagecrm_program-card__text-wrapper {
  width: 50%;
  padding: 10px;
  background-color: #48057280;
}

.pagecrm_program-card__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: clamp(1rem, 0.645vw + 0.855rem, 1.5rem);
  line-height: 1.25;
  color: #e9c6ff;
}

.pagecrm_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pagecrm_item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: clamp(0.875rem, 0.484vw + 0.766rem, 1.25rem);
  line-height: 1;
}

.pagecrm_item::before {
  content: '';
  display: flex;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background: url(../svg/check-circle-icon.svg) no-repeat center / cover;
}

.pagecrm_form {
  max-width: 652px;
  width: 100%;
  margin: 0 auto;
  padding: 44px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-radius: 32px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px #9662ff;
  backdrop-filter: blur(50px);
}

.pagecrm_form__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: clamp(1.5rem, 1.452vw + 1.173rem, 2.625rem);
  line-height: 1.25;
  letter-spacing: -0.4px;
  text-align: center;
}

.pagecrm_form__text {
  max-width: 492px;
  width: 100%;
  font-size: clamp(0.875rem, 0.7661rem + 0.4839vw, 1.25rem);
  line-height: 1.3;
  text-align: center;
}

.pagecrm_form__input {
  width: 100%;
  padding: 17px 24px;
  font-size: clamp(0.875rem, 0.7661rem + 0.4839vw, 1.25rem);
  line-height: 1.3;
  border-radius: 10px;
  border: 5px solid transparent;
}

.pagecrm_form__input::placeholder {
  color: var(--accent-color, #fff);
}

.pagecrm_contact-form,
.pagecrm_contact-form__input {
  background:
    linear-gradient(142deg, rgba(104 61 172 / 1) 0%, rgba(112 52 159 / 1) 100%)
      padding-box,
    linear-gradient(
        142deg,
        rgba(148 0 255 / 1) 0%,
        rgba(198 79 135 / 0.83) 100%
      )
      border-box;
}

.pagecrm_form__select {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.pagecrm_form__select::after {
  content: '';
  position: absolute;
  right: 25px;
  top: 35%;
  display: block;
  width: 15px;
  height: 15px;
  background: url(../svg/down-arrow-icon.svg) no-repeat center / cover;
}

.pagecrm_form__dropdown-options {
  position: absolute;
  z-index: 2;
  inset: calc(100% + 5px) 0 0;
  height: fit-content;
  padding: 18px 40px;
  display: none;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  backdrop-filter: blur(100px);
}

.pagecrm_system-options {
  background-color: #48057282;
}

.pagecrm_form__dropdown-is-open {
  display: flex;
}

.pagecrm_form__dropdown-option:hover {
  text-shadow:
    0 0 20px var(--shadow-color, #d795ff),
    0 0 4px var(--shadow-color, #d795ff);
}

.pagecrm_contact-form__textarea {
  min-height: 110px;
}

.pagecrm_contact-form__textarea::placeholder {
  opacity: 0.5;
}

.pagecrm_button {
  padding: 20px;
  background:
    linear-gradient(#1d0044, #1d0044) padding-box,
    linear-gradient(90deg, rgb(56 63 236 / 1) 50%, rgba(35 255 255 / 1) 100%)
      border-box;
  border-radius: 10px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px #9662ff;
  backdrop-filter: blur(50px);
  font-size: clamp(1rem, 0.8548rem + 0.6452vw, 1.5rem);
  line-height: 1.19;
  color: #e9deff;
  text-transform: uppercase;
  transition: box-shadow 0.2s ease-in-out;
}

.pagecrm_button__text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pagecrm_button__text::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: url(../svg/arrow-button-icon.svg) no-repeat center / cover;
}

.pagecrm_button_hover:hover {
  box-shadow: 0 0 20px #8bffff;
  backdrop-filter: blur(100px);
}

.pagecrm_contact-form__button {
  max-width: 452px;
  width: 100%;
}

.pagecrm_reasons__image {
  display: none;
}

.pagecrm_reasons__list {
  padding: 26px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  background: linear-gradient(
    90deg,
    rgb(177 149 255 / 1) 0%,
    rgb(177 149 255 / 0.6) 0%,
    rgb(44 48 83 / 0) 100%
  );
  border-radius: 20px 0 0 20px;
  backdrop-filter: blur(20px);
  font-size: clamp(0.875rem, 0.4758rem + 1.7742vw, 2.25rem);
  line-height: 1.43;
}

.pagecrm_reasons__item {
  position: relative;
  display: flex;
  align-items: center;
}

.pagecrm_reasons__item::before {
  content: '';
  width: clamp(2.5rem, 1.5927rem + 4.0323vw, 5.625rem);
  height: clamp(2.75rem, 1.752rem + 4.4355vw, 6.1875rem);
  display: flex;
  flex-shrink: 0;
  margin-right: 9px;
  background: url(../svg/checkbox-icon.svg) no-repeat center / cover;
}

.pagecrm_subtitle {
  max-width: 876px;
  width: 100%;
  margin: 0 auto;
  font-size: clamp(1.0625rem, 0.7177rem + 1.5323vw, 2.25rem);
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-align: center;
  color: transparent;
  background: linear-gradient(
      218.31deg,
      #fff -29.59%,
      #d795ff 38.31%,
      #7bc2fe 100%
    )
    text;
}

.pagecrm_projects__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 690px));
  justify-content: center;
  gap: 20px;
}

.pagecrm_projects__project-card {
  max-width: 684px;
  width: 100%;
  padding: 33px 33px 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px 17px;
  background:
    linear-gradient(#421963b2 0%, #421963b2 100%) padding-box,
    linear-gradient(
        142deg,
        rgba(148 0 255 / 1) 0%,
        rgba(198 79 135 / 0.83) 100%
      )
      border-box;
  border-radius: 30px;
  border: 2px solid transparent;
  box-shadow: 0 0 10px rgb(215 149 255 / 0.5);
}

.pagecrm_project-card__image-wrapper {
  max-width: 273px;
  width: 100%;
  padding: 25px 0 13px;
  display: flex;
  justify-content: center;
  background: linear-gradient(45.03deg, #1f0b32 100%, #1d1b7a 4.86%);
  border-radius: 30px;
}

.pagecrm_project-card__image {
  max-width: 120px;
  width: 100%;
  filter: drop-shadow(0 0 10px #d795ff80) drop-shadow(0 0 10px #d795ff);
}

.pagecrm_project-card__image-name {
  font-weight: 700;
  font-size: 10px;
  line-height: 2;
  text-align: center;
}

.pagecrm_gradient-text {
  color: transparent;
  background: linear-gradient(157.22deg, #b195ff -131.72%, #d795ff 100%) text;
}

.pagecrm_project-card__left-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagecrm_project-card__text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.pagecrm_project-card__text {
  font-size: 14px;
  line-height: 1.1;
}

.pagecrm_project-card__card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
}

.pagecrm_project-card__button {
  max-width: 155px;
  width: 100%;
  padding: 11px 34px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.46;
  text-align: center;
  background:
    linear-gradient(#45206f 0%, #45206f 100%) padding-box,
    linear-gradient(
        73deg,
        rgb(89 248 210 / 1) 9%,
        rgba(116 223 221 / 0.43) 31%,
        rgba(161 180 239 / 0.54) 67%
      )
      border-box;
  border-radius: 10px;
  border: 1px solid transparent;
}

.pagecrm_tariffs__title {
  margin-bottom: var(--section-title-offset, 45px);
}

.pagecrm_tariffs__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 690px));
  justify-content: center;
  gap: 20px;
}

.pagecrm_tariffs__item {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.pagecrm_tariffs__item:last-child {
  grid-column: 1 / -1;
}

.pagecrm_tariffs__tariff-card {
  max-width: 690px;
  width: 100%;
  padding: 18px 12px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background:
    linear-gradient(45deg, rgb(119 106 209 / 1) 0%, rgb(43 24 88 / 1) 31%)
      padding-box,
    linear-gradient(-37deg, rgb(177 149 255 / 1) 0%, rgb(215 149 255 / 1) 100%)
      border-box;
  border-radius: 20px;
  border: 2px solid transparent;
  box-shadow:
    0 0 20px #d795ff,
    0 0 4px #d795ff;
}

.pagecrm_tariff-card__price-wrapper {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #9e00ff26;
  border-radius: 10px;
}

.pagecrm_tariff-card__text {
  width: 58.6%;
  font-size: clamp(0.75rem, 0.968vw + 0.532rem, 1.5rem);
  line-height: 1.46;
}

.pagecrm_tariff-card__price {
  font-weight: 700;
  font-size: clamp(1.25rem, 1.29vw + 0.96rem, 2.25rem);
  line-height: 1.83;
  text-align: right;
}

.pagecrm_tariff-card__list {
  margin-bottom: 20px;
}

.pagecrm_tariff-card__button-wrapper {
  display: flex;
  justify-content: center;
}

.pagecrm_tariff-card__button {
  max-width: 206px;
  width: 100%;
  align-self: center;
}

.pagecrm_application-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}

.pagecrm_application-form__wrapper {
  position: relative;
  max-width: fit-content;
  width: 100%;
  align-items: flex-start;
  background:
    linear-gradient(210deg, #6c53ab 0%, #62478f 100%) padding-box,
    linear-gradient(210deg, #fff 0%, #d795ff 52%, #7bc2fe 100%) border-box;
}

.pagecrm_application-form__input {
  padding: 13px 24px;
  text-align: left;
  background:
    linear-gradient(210deg, #6c53ab 0%, #62478f 100%) padding-box,
    linear-gradient(210deg, #fff3 0%, #d795ff33 52%, #7bc2fe33 100%) border-box;
}

.pagecrm_services-options {
  background-color: #d795ffb2;
  padding: 18px 35px;
}

.pagecrm_application-form__button {
  width: 100%;
  padding: 16px 0;
}

.pagecrm_application-form__image {
  display: none;
}

.pagecrm_partners-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px 58px;
}

.pagecrm_partners__title {
  margin-bottom: 24px;
}

.pagecrm_partners__image {
  width: 100%;
}

.pagecrm_partners__links-list {
  width: 100%;
}

.pagecrm_partners__links-item {
  padding: 14px 0;
  font-size: clamp(0.875rem, 0.4758rem + 1.7742vw, 2.25rem);
  line-height: 2;
  border-top: 1px solid transparent;
  border-image-source: linear-gradient(90deg, #00ffb7 0%, #d795ff 100%);
  border-image-slice: 10%;
}

.pagecrm_partners__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagecrm_partners__link::after {
  content: '';
  display: flex;
  height: 30px;
  width: 24px;
  background: url(../svg/arrow-rigth-icon.svg) no-repeat center / cover;
}

.pagecrm_partners__links-item:last-child {
  border-bottom: 1px solid transparent;
}

.pagecrm_feedback {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pagecrm_feedback::before {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  bottom: 0;
  right: 0;
  left: 0;
  height: 186px;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(180deg, #c54afe 0%, #9945ff 100%);
  clip-path: polygon(0 0, 80% 11%, 100% 100%, 0% 100%);
}

.pagecrm_feedback__title {
  font-weight: 700;
  font-size: clamp(2rem, 1.7097rem + 1.2903vw, 3rem);
  line-height: 1.25;
  text-align: center;
}

.pagecrm_feedback__text {
  max-width: 284px;
  width: 100%;
  margin-bottom: 8px;
  font-size: clamp(1.25rem, 1.0323rem + 0.9677vw, 2rem);
  line-height: 1.25;
}

.pagecrm_feedback__caption {
  display: none;
}

.pagecrm_feedback__feedback-form {
  max-width: 247px;
  width: 100%;
  padding: 22px 17.5px 11px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 8.75px;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 80.6px 105.7px #3333331a;
  backdrop-filter: blur(200px);
  background-color: #0003;
  font-size: 14px;
  line-height: 1.29;
  color: #383838;
}

.pagecrm_feedback-form__input {
  width: 100%;
  padding: 3.6px 10.5px;
  background: #ffffff80;
  border: 1px solid #0a142f4d;
  border-radius: 5px;
}

.pagecrm_feedback-form__textarea {
  min-height: 72.2px;
}

.pagecrm_feedback-form__button {
  max-width: 150px;
  width: 100%;
  padding: 8.5px 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.01em;
}

.pagecrm_popup {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgb(0 0 0 / 0.6);
}

.pagecrm_popup-is-animated {
  display: flex;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition:
    visibility 0s 0.3s,
    opacity 0.3s;
}

.pagecrm_popup-is-open {
  display: flex;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition:
    visibility 0s,
    opacity 0.3s;
}

.pagecrm_popup__content {
  padding: 0 10px;
  transform: translate(0, -50px);
  transition: transform 0.3s ease-out;
}

.pagecrm_popup.pagecrm_popup-is-open .pagecrm_popup__content {
  transform: none;
  transition: transform 0.3s ease-out;
}

.pagecrm_popup-form__title {
  font-size: clamp(1.5rem, 1.3548rem + 0.6452vw, 2rem);
}

.pagecrm_popup-form__text {
  font-size: 15px;
  line-height: 1.3;
}

.pagecrm_popup-form {
  max-width: 453px;
  padding: 44px 20px;
  gap: 17px;
  background:
    linear-gradient(#d6b9fa, #d6b9fa) padding-box,
    linear-gradient(90deg, rgb(56 63 236 / 1) 50%, rgba(35 255 255 / 1) 100%)
      border-box;
}

.pagecrm_popup-form__input {
  padding: 17px 21px;
  border: 1px solid transparent;
  background:
    linear-gradient(var(--accent-color, #fff), var(--accent-color, #fff))
      padding-box,
    linear-gradient(90deg, rgb(56 63 236 / 1) 50%, rgba(35 255 255 / 1) 100%)
      border-box;
  color: #00000080;
}

.pagecrm_popup-form__input::placeholder {
  color: #00000080;
}

.pagecrm_popup-form__button {
  max-width: fit-content;
  border-radius: 19px;
}

.pagecrm_popup-form__checkbox-wrapper {
  max-width: 247px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.pagecrm_popup-form__checkbox-text {
  font-size: 10px;
  line-height: 15px;
  text-align: center;
}

.pagecrm_popup-form__link {
  display: inline;
  text-decoration: underline;
}

.pagecrm_popup-success {
  position: relative;
  padding: 27px 68px;
  border: 1px solid transparent;
  border-radius: 20px;
  background:
    linear-gradient(#634787, #634787) padding-box,
    linear-gradient(90deg, rgb(56 63 236 / 1) 50%, rgba(35 255 255 / 1) 100%)
      border-box;
}

.pagecrm_popup-success__button {
  position: absolute;
  top: 26.5px;
  right: 26.5px;
}

.pagecrm_popup-success__image {
  max-width: 75px;
  margin: 0 auto 20px;
  filter: drop-shadow(0 0 30px #a174ffbf);
}

.pagecrm_popup-success__text {
  max-width: 332px;
  width: 100%;
  font-weight: 700;
  font-size: clamp(1.25rem, 1.0323rem + 0.9677vw, 2rem);
  line-height: 1.5;
  letter-spacing: -0.03em;
  text-align: center;
}

@media (width >= 640px) {
  .pagecrm_program-card__title {
    margin-bottom: 20px;
  }

  .pagecrm_list {
    gap: 20px;
  }

  .pagecrm_projects__project-card {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .pagecrm_project-card__left-wrapper {
    align-items: flex-start;
    padding-top: 11px;
  }

  .pagecrm_project-card__button {
    margin: 0;
  }

  .pagecrm_partners__image {
    max-width: 538px;
  }

  .pagecrm_feedback {
    flex-direction: row;
    gap: 74px;
  }

  .pagecrm_feedback__title {
    text-align: left;
    margin-bottom: 8px;
  }
}

@media (width >= 980px) {
  .pagecrm_reasons__image {
    display: block;
    width: 37%;
  }

  .pagecrm_reasons__list-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pagecrm_partners-wrapper {
    flex-direction: row;
  }

  .pagecrm_partners__image {
    order: 1;
  }
}

@media (width >= 1400px) {
  :root {
    --section-title-offset: 46px;
  }

  .pagecrm_page {
    background: url(../images/background-image-desktop.webp) no-repeat;
    background-size: cover;
  }

  .pagecrm_main {
    padding: 0 100px;
  }

  .pagecrm_breadcrumbs {
    margin-bottom: 128px;
  }

  .pagecrm_breadcrumbs__list {
    padding: 20px 0;
  }

  .pagecrm_content {
    gap: 120px;
    margin-bottom: 120px;
  }

  .pagecrm_sticky-block {
    top: 180px;
  }

  .pagecrm_banner__image {
    margin-bottom: 58px;
  }

  .pagecrm_banner__button {
    padding: 20px 40px;
  }

  .pagecrm_title {
    line-height: 1.98;
  }

  .pagecrm_services {
    gap: var(--section-title-offset);
  }

  .pagecrm_services__service-card {
    gap: 20px;
  }

  .pagecrm_service-card__text {
    line-height: 1.25;
  }

  .pagecrm_program-card__text-wrapper {
    padding: 25px 20px;
  }

  .pagecrm_program-card__title {
    margin-bottom: 30px;
  }

  .pagecrm_list {
    gap: 30px;
  }

  .pagecrm_form {
    padding: 44px 100px;
  }

  .pagecrm_form__title {
    margin-bottom: 20px;
  }

  .pagecrm_form__input {
    padding: 17px;
  }

  .pagecrm_contact-form__textarea {
    min-height: 185px;
  }

  .pagecrm_form__select::after {
    width: 20px;
    height: 20px;
    right: 27px;
  }

  .pagecrm_reasons__list {
    padding: 57px 47px 43px 58px;
    gap: 40px;
    line-height: 1.5;
  }

  .pagecrm_reasons__image {
    width: 40%;
    margin-right: -30px;
  }

  .pagecrm_project-card__text-wrapper {
    gap: 18px;
    margin-bottom: 18px;
  }

  .pagecrm_project-card__card-title {
    font-size: 20px;
  }

  .pagecrm_project-card__text {
    font-size: 16px;
  }

  .pagecrm_project-card__button {
    max-width: 177px;
    font-size: 20px;
  }

  .pagecrm_tariffs__title {
    margin-bottom: 75px;
  }

  .pagecrm_tariffs__tariff-card {
    min-height: 389px;
    padding: 35px;
  }

  .pagecrm_tariff-card__price-wrapper {
    padding: 20px;
    margin-bottom: 20px;
  }

  .pagecrm_tariff-card__list {
    margin-bottom: 40px;
  }

  .pagecrm_tariff-card__button {
    max-width: 292px;
    padding: 23px;
  }

  .pagecrm_subtitle {
    line-height: 1.1;
  }

  .pagecrm_application__titles-wrapper {
    margin-bottom: 68px;
  }

  .pagecrm_application-form__wrapper {
    padding: 44px 49px;
    max-width: 838px;
  }

  .pagecrm_application-form {
    max-width: 398px;
  }

  .pagecrm_application-form__input {
    padding: 20px;
  }

  .pagecrm_application-form__image {
    position: absolute;
    top: 40px;
    right: -174px;
    display: block;
    max-width: 500px;
    filter: drop-shadow(0 0 10px var(--shadow-color, #d795ff))
      drop-shadow(0 0 60px var(--shadow-color, #d795ff));
  }

  .pagecrm_services-select-text {
    max-width: 310px;
  }

  .pagecrm_partners__title {
    line-height: 1;
    margin-bottom: 68px;
  }

  .pagecrm_partners-wrapper {
    align-items: flex-start;
  }

  .pagecrm_partners__links-item {
    padding: 38px 0 43px;
    line-height: 1.5;
  }

  .pagecrm_feedback {
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 0 110px 120px;
  }

  .pagecrm_feedback::before {
    height: 88%;
    clip-path: polygon(0 0, 60% 11%, 100% 100%, 0% 100%);
  }

  .pagecrm_feedback__title {
    margin-bottom: 44px;
  }

  .pagecrm_feedback__text {
    max-width: 467px;
    margin-bottom: 12px;
  }

  .pagecrm_feedback__caption {
    display: block;
    margin-bottom: 40px;
  }

  .pagecrm_feedback__feedback-form {
    max-width: 564px;
    padding: 50px 40px 44px;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .pagecrm_feedback-form__input {
    padding: 21px 24px;
  }

  .pagecrm_feedback-form__textarea {
    min-height: 165px;
  }

  .pagecrm_feedback-form__button {
    max-width: fit-content;
    padding: 15px 20px;
    font-size: 20px;
  }

  .pagecrm_popup-form {
    padding: 44px 39px;
  }
}

@media (width >= 1600px) {
  .pagecrm_main {
    padding: 0;
    max-width: 1400px;
    margin: 0 auto;
  }
}
